{% extends "base.html" %}
{% load static %}
{% block page_content %}
<!-- <h1>Projects</h1>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{% static project.image %}">
            <div class="card-body">
                <h5 class="card-title">{{ project.title }}</h5>
                <p class="card-text">{{ project.description }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div> -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
.w3-row-padding img 
{
    margin-bottom: 12px;
}
.w3-bar-item
{
  text-decoration: none;
}
</style>

    <img src="../static/img/fake_fact.jpg">
  
    <div class="w3-padding-32" style="margin-top: 15px;">
        <div class="w3-bar w3-border" style="width: fit-content;margin-left: 38%; ">
          <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;">URL</a>
          <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;">HEADLINE</a>
          <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;">CONTENT</a>
          <a href="#" class="w3-bar-item w3-button" style="text-decoration: none;">LINK</a>
        </div>
    </div>
{% endblock %}